.Rproj.user
.Rhistory
.RData
.Ruserdata
inst/demos/*.html
inst/demos/*-figure
inst/demos/*.md
inst/demos/2017-06_R-Meetup/presentation.pdf
dev/
ts/
*.aux
*.log
*.nav
*.out
*.snm
*synctex.gz
*.toc
*.vrb
*-concordance.tex
hyear_start_french.pdf
