.Rproj.user
.Rhistory
.RData
.Ruserdata

inst/demos/*.html
inst/demos/*-figure
inst/demos/*.md
inst/demos/2017-06_R-Meetup/presentation.pdf
inst/demos/2017-07_useR/fig/fig-*
inst/demos/2017-07_useR/useR_lightning_talk_smires.tex

tests/testthat/Rplots.pdf

dev/
ts/

*.aux
*.log
*.nav
*.out
*.snm
*synctex.gz
*.toc
*.vrb
*-concordance.tex
Thumbs.db
