exportPattern("^[[:alpha:]]+")

importFrom(tidyr, full_seq, complete, nesting, unnest)
importFrom(tibble, as_data_frame, tibble)
importFrom(dplyr, summarize, group_by, "%>%", select, right_join, do, mutate,
           arrange, ungroup, filter, desc, distinct, anti_join, group_vars,
           rename, mutate_if)
importFrom(purrr, simplify_all)
importFrom(rlang, ":=")
importFrom(plyr, ".")
importFrom(lubridate, as.period, is.interval, interval, int_overlaps,
           "int_start<-", "int_end<-", int_start, int_end,  month, quarter,
           floor_date, period, is.instant, "yday<-", years, as.interval, year,
           duration, days, mday, yday, is.difftime)
importFrom(ggplot2, ggplot, geom_segment, aes, geom_vline, geom_hline, labs,
           scale_x_continuous, scale_y_discrete, theme, element_blank, geom_text,
           geom_density, facet_wrap, geom_rug, geom_point, geom_line,
           expand_limits, scale_y_continuous, geom_rect, theme_bw,
           scale_fill_discrete)

importFrom("stats", "approx", "median", "na.omit")
importFrom("utils", "head", "tail")
importFrom("lfstat", "water_year")



# S3method(print, multiperiod)

